---
import CategoryCard from '@/components/CategoryCard.astro';
import { categories } from '@/types/data.ts'
import Carousel from '@/components/SliderCarousel';
import Layout from '@/layouts/Layout.astro';
import IconCard from '@/components/IconCard.astro';
import ProyectsSlider from '@/components/SliderCoverflow.astro';
import BrandsSlider from '@/components/BrandsSlider.astro';

const slides = [
	'/images/BE4A1795-HDR.webp',
	'/images/BE4A1820-HDR.webp',
]


---

<Layout title="Welcome to Astro."  >
	<main>
		<header class="relative">
			<div class="absolute bg-black/20 h-full w-full z-10 top-0 flex justify-center">
				<div class="self-center p-5 md:px-20 w-full max-w-7xl">
					<h1 class="text-6xl lg:text-7xl font-bold text-white ">Transforming Spaces, <br> Building Dreams</h1>
				</div>
			</div>
			<Carousel slides={ slides } client:load />
		</header>



		<div class="hero h-auto bg-base-200 py-20">
			<div class="hero-content text-center">
				<div class="max-w-screen-md">
					<h2 class="text-4xl font-bold">Welcome to Ace Designs & Construction, where your home transformation journey starts.</h2>
					<p class="py-6"> With decades of expertise in kitchen remodeling, bathroom updates, basement finishing, and indoor and outdoor space improvements, we are your go-to contractor in Maryland, Virginia, and Washington DC. At Ace, we combine innovative design, quality craftsmanship, and a personalized approach to make every project unique. Let us bring your vision to life.</p>
					<button class="btn text-xl btn-primary">Get Your Free Consultation</button>
				</div>
			</div>
		</div>

		<!-- Our Services -->
		<div class="w-full bg-base-200 flex justify-center py-20">
			<div class="p-5 h-[800px] grid grid-rows-1 grid-cols-3 max-w-7xl">
				<div class="flex flex-col justify-center px-5 col-span-1">
					<div class="hero h-auto bg-base-200">
						<div class="hero-content text-left">
							<div class="max-w-screen-md">
								<h2 class="text-4xl font-bold">Tailored Remodeling & Custom Creations</h2>
								<p class="py-6"> Discover the art of transformation. Start your renovation journey with us and experience <span class="font-semibold italic ">craftsmanship that speaks for itself.</span></p>
							</div>
						</div>
					</div>
				</div>
				<div class="flex justify-center w-full col-span-2">
					<div class="grid grid-cols-2 gap-4 px-10 ">
						{categories.map( cat => (
									<CategoryCard category={cat} />
						))}
					</div>
				</div>
				
			</div>
		</div>
		
		<!-- Why choose us -->
	
	<div class="w-full bg-base-200 flex flex-col justify-center  items-center py-10">
		<h2 class="text-4xl font-bold py-10 text-center max-w-lg">Why Our Service Is the Right Choice for You</h2>
		<div class="h-auto w-full grid grid-rows-1 grid-cols-3 px-10 max-w-7xl gap-5">
			<div class="col-span-1 flex justify-center">
				<IconCard 
					id="1"
					title="Personalized Service"
					text="Every project at Ace Designs Services is tailored to your needs, ensuring your space not only looks great but also complements your lifestyle perfectly."
					icon="/images/personalized.webp"
				/>
			</div>
			<div class="col-span-1 flex justify-center">
				
				<IconCard 
				id="2"
				title="Master Craftsmanship"
				text="We stand by our unparalleled craftsmanship, from meticulous tile work to precise structural changes, ensuring top-quality results."
				icon="/images/craftsmanship.webp"
			/>
			</div>
			<div class="col-span-1 flex justify-center">
				<IconCard 
				id="3"
				title="Seamless Process"
				text="Our streamlined process guarantees a hassle-free experience, with clear timelines and a dedicated point of contact for your peace of mind."
				icon="/images/process.webp"
			/>
			</div>
				
		</div>
	</div>


	<!-- latest proyects -->

	<div class='bg-base-200 flex flex-col items-center justify-center py-20'>
		<h2 id="projects" class="text-4xl font-bold py-10 text-center max-w-lg">Check Our Latest Projects and Get Inspiration for Your Next Remodel</h2>
		<ProyectsSlider />

	</div>


	<!-- brands -->
	<div class='bg-base-200 pt-20 pb-40'>
		<div class="flex flex-col items-center">
			<h2 class="text-4xl font-bold py-10 text-center max-w-lg">Quality You Can Trust. <br>Our Partners</h2>
		</div>
		<BrandsSlider />
	</div>

	</main>
</Layout>
