---
import { partners } from "@/types/data";
import type { Partner } from "@/types/data";
---

 <div>
  <swiper-container 
    id="brandsSlider"
    class="mySwiper" 
    loop="true"
    slides-per-view="4"
    space-between="50"
    centered-slides="false"
    autoplay="true"
    autoplay-delay="0"
    autoplay-reverse-direction="true"
    autoplay-disable-on-interaction="false"
    speed="4000"
    grab-cursor="false"
    allow-touch-move="false"
    >

      {
        partners.map( (partner: Partner) => (
          <swiper-slide>
            <a href={partner.url} target="_blank">
              <img class="grayscale" src={partner.image} alt={partner.name} />
            </a>
          </swiper-slide>
        ))
      }
  </swiper-container>
</div>


